<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">DASHBOARD</h1>
    </div>
</div>
<% current_user.students.each do |student| %>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <%= student.name %>
        </div>
    </div>
</div>
<div class="row">
    <div class=" col-md-3 col-sm-3">
        <div class="style-box-one Style-one-clr-one">
            <%= link_to labirinto_path,  class: '' do %>
                <span class="glyphicon glyphicon-headphones"></span>
                <h5>Labirinto </h5>
            <% end %>
        </div>
    </div>
    <div class=" col-md-3 col-sm-3">
        <div class="style-box-one Style-one-clr-two">
            <a href="#">
                <span class="glyphicon glyphicon-repeat"></span>
                <h5>Some Sample Text</h5>
            </a>
        </div>
    </div>
    <div class=" col-md-3 col-sm-3">
        <div class="style-box-one Style-one-clr-three">
            <a href="#">
                <span class="glyphicon glyphicon-camera"></span>
                <h5>Some Sample Text</h5>
            </a>
        </div>
    </div>
    <div class=" col-md-3 col-sm-3">
        <div class="style-box-one Style-one-clr-four">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                <h5>Some Sample Text</h5>
            </a>
        </div>
    </div>      
</div>
<hr>

<% end %>